@import './sass/navbar';
@import './sass/variables';
@import './sass/dropdown';
@import './sass/page_patterns';

/*- ^==Imports==^ -*/

a{
    @include text; //page patterns
}

.material-icons{
    font-size: 30px;
    color: $textColor;
}

.arrow-down{
    font-size: 24px;
    margin-left: auto;
}

//_navbar.scss
.navbar{
    @include navbar;
    .btn-navbar{
        @include liButton;

    }
    //dropdown
    .dropdown{
        @include dropdownStyle;
        .dropdown-btn{
            @include liButton;
        }
    }
}

.d{
    display: none;
}

#dropdown-relatorios-cadastros{
    background: $lightMarine;
}
#dropdown-financeiro-cadastros{
    background: $lightMarine;
}
#dropdown-servicos-cadastros{
    background: $lightMarine;
}

//#00000f
//=================================JS animation
.list-style{
    border-left: 5px solid white;
    background-color: $orange;
    a{
        color: $marine;
    }
    .material-icons{
        color: $marine;
    }
    #cadastro-arrow-down{
        display: block;
    }
    #cadastro-arrow-right{
        display: none;
    }
}
